node_modules/
**/node_modules/

.vite/
**/.vite/

.DS_Store

.env
.env.*
!.env.example
!.env.sample

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage/

*.tsbuildinfo

dist/
**/dist/

playwright-report/

test-results/

.vscode/
.idea/
